*{
  max-width: 100%;
  font-family: arial;
}

body{
  background: linear-gradient(to right, #1E90FF, #4169E1);
  text-align: center;
}

#redes{
  margin-right: 100px;
}

#bancos_dados{
  grid-column: 1 / -1;
}

.dado a{
  text-decoration: none;
}

.pergunta_dado{
  font-weight: bold;
}

.pergunta_dado, .dado{
  display: inline;
}


.fotos{
  max-width: calc(100% - 6px);
  border: 6px outset #1E90FF;
  border-top: none;
  border-left: none;
}


.div_pai{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(485px, auto));
  width: 100%;
}

.h2_titulo{
  grid-column: 1 / -1;
}

.dados{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border: 6px inset #1E90FF;
  padding: 6px;
  background: white;
}

.titulo{
  grid-column: 1 / -1;
}

.icons{
  width: 70px;
  height: 70px;
  min-width: 70px;
  max-width: 70px;
}

.areas{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
}
